
.logo {
    width:250px;
}
.navbar{
    color: #fff;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    
    color: #fff;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.form {
    margin:5px
}