{% extends 'base.html' %}

{% block content %}
    <h2 class="mt-2 text-uppercase text-center">Find out more about this chalet:</h3>

    <div class="container mb-5">
        <div class="row" >
   
            <div class="col-md-6"> <!--center :  w-100-->
                <div class="card h-100">
                    <img class="card-img-top image-responsive" src="{{chalet.image.url}}" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-uppercase text-center mt-2">{{ chalet.name }}</h5>
                        <!--<p class="card-text pt-3"><strong>Location:</strong><br>  {{ chalet.location }}Location, maps link.</p>  
                        <p class="card-text pt-3"><strong>Desctiption:</strong> <br>{{ chalet.description }}</p> -->

                        <div class="card-body pt-2 text-justify-center">
                            <p class="card-text"><strong>Location</strong> <a href="https://shorturl.at/adgX0"> <i class="fa-solid fa-location-dot" rel="noopener" aria-label="visit link on Google Maps"></i><br>{{ chalet.location }}</p></a>
                            
                            <p class="card-text"><strong>Desctiption:</strong> <br>{{ chalet.description }}</p>
                            <p class="card-text"><strong>Capacity:</strong> {{ chalet.capacity }} Max 6 People </p>

                            <strong class="card-link">Price: €{{ chalet.price }}</strong>
                           
                            <a href="{% url 'reservation' chalet.id %}" class="btn btn-primary float-end">Reserve</a>
                        </div>
                </div>
            </div>
        
    
    </div>

{% endblock %}