{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="p-4 text-center justify-content-center align-items-center">
    <h1 class="mb-4 text-uppercase">Welcome to my chalet</h1>
    <h3> My chalet is a website where we reccomend the best chalets in Italy. We have selected the most exclusive
        chalets for you.</h3><br>
        <h4>You can send a reservation request and we will contact you shortly regading the availability.</h4>
        <h5 class="fst-italic lead mt-4">Please note that these chalets are only for <mark>one night stay.</mark></h5><hr>
        <p class="mb-2 lead">Here is our reccomended list:</p>
</section>

<section class="container">
    {% for chalet in chalet_list %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row"> {% endif %}
        <div class="col-md-4 mb-5 ">
            <div class="card h-100 shadow">
                <div class="zoomeffect">
                <img class="card-img-top image-responsive" src="{{chalet.image.url}}" width="55%" height="50%"
                    alt="Card image cap">
                </div>    
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title text-uppercase text-center">{{chalet.name}}</h4>


                    <!--<p class="card-text">{{ chalet.description }}This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a little bit longer.</p>-->
                    <p class="card-text h4"><strong>Location</strong> <a href="https://shorturl.at/adgX0" target="_blank">
                            <i class="fa-solid fa-location-dot my-3" rel="noopener" aria-label="visit link on Google Maps"></i><br>{{ chalet.location }}</a>
                            <br>
                    </p>
                        <strong class="card-text price my-4">Price:€ {{ chalet.price }}</strong>
                        <a href="{% url 'chalet_detail' chalet.id %}" class="btn btn-primary btn-lg float-end">Reserve</a>
             
                </div>
            </div>
        </div>
   
        {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
    {% endfor %}

</section>

{% endblock %}