

{% extends 'base.html' %}

{% block content %}

<h1>Welcome to my chalet</h1>
<h2>On my chalet we selected the best and most exclusive chalets you can choose for 1 nigh rxperience; Here are the options:</h2>
<div class="container">
    {% for chalet in chalet_list %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row"> {% endif %}
        <div class="col-md-4">
            <div class="card h-100">
                <img class="card-img-top image-responsive" src="..." alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-uppercase">{{chalet.name}}</h5>
                    <p class="card-text">{{ chalet.description }}This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a little bit longer.</p>
                        <strong class="card-link">Price: {{ chalet.price }}</strong>
                    <div class="card-body">
                        
                    <a href="{% url 'chalet_detail' chalet.id %}" class="btn btn-primary float-right">Reserve</a> 
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %} <!--CHECK-->
    </div><br>{% endif %}
    {% endfor %}

</div>



</div>

{% endblock %}