{% extends 'base.html' %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3 my-2">
                {% if user.is_authenticated %}
                <h2 class="text-uppercase text-center py-2">Send a reservation request:</h2>
                <P class="blockquote my-2">Selected Chalet: {{chalet.name}}</P>
                <p class="blockquote mb-4">Price:€ {{chalet.price}}</p>
                <!--SE: {{chalet.name}}-->
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="fst-italic"><i class="fa-solid fa-triangle-exclamation"></i> Please note that you can
                        <strong>only</strong> select Future dates from tomorow.</p>
                    <button type="submit" class="btn btn-info btn-lg mb-4">Send</button>
                </form>
                {% else%}
                <p>To make a resevation please <a href="{% url 'account_login' %}">Log In</a>.
                    If you don't have an account yet, please <a href="{% url 'account_signup' %}">Register</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}